name: Run Psalm
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.2
          coverage: none # disable xdebug, pcov

      - run: composer require --dev vimeo/psalm 4.1.1
        name: Install Psalm

      - run: vendor/bin/psalm --output-format=github --config=.github/workflows/psalm.xml
        name: Run Psalm
